<!DOCTYPE html>
<html lang="en">
    <head>
        <title>About</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="static/styles/style.css" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|Poppins">
    </head>
    <body>
        <div class="topnav">
            <a class="active" href="Home.html">Home</a>
            <a href="Project.html">Project</a>
            <a href="About.html">About</a>
          </div>
          <div class="hero-image">
            <div class="hero-text">
              <h1>I am Abdel Hamid Adel</h1>

              <p>I am from Cairo,Egypt</p>
              <p>The current profession is a Data scientist</p>
              <p>Interested in Artificial Intelligence</p>
              <br>
              <p>For more about my works </p>
              <a class="github" href="https://github.com/AbdelhamidADel" target="_blank">Github</a>
              </div>
            </div>
          </div>
          </div>
    </body>
</html>