<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="static/styles/style.css" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|Poppins">
        </head>
    <body>
        <div class="topnav">
            <a class="active" href="Home.html">Home</a>
            <a href="Project.html">Project</a>
            <a href="About.html">About</a>
        </div>
          

        <div class="bg-image"></div>

            <div class="bg-text" style="padding-left:16px">
                <h2>What is spam </h2>
                <p>-Spam is annoying, but it’s also a threat. While many of us might think we’re savvy enough to recognize any form of it, spammers regularly update their methods and messages to trick potential victims. The reality is that we’re all constantly under attack from cybercriminals and the proof is in your inbox.</p>
                <br>
                <h2>Spam definition</h2> 
                <p>-Spam is any kind of unwanted, unsolicited digital communication that gets sent out in bulk. Often spam is sent via email, but it can also be distributed via text messages, phone calls, or social media.</p>
                <br>
                <h2>Types of spam</h2>
                <ul>
                    <li>Phishing emails</li>
                    <li>Email spoofing</li>
                    <li>Tech support scams</li>
                    <li>Current event scams</li>
                    <li>Advance-fee scams</li>
                    <li>Malspam</li>
                    <li>Spam calls and spam texts</li>
                </ul>
        </div>
       
    </body>
</html>